.intro-wrapper {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  cursor: pointer;
}

.intro-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.intro-content p {
  font-size: 1.5rem;
  opacity: 0.8;
}
